.gameWrapper {
  width: 370px;
  text-align: center;
  background-color: #302b2b;
  color: #FFF;
  border-radius: 4px;
  margin: 10px;
}

.gameCover {
  width: 100%;
}

.smallInfo {
  padding: 10px;
  background-color: #302727;
  display: flex;
  justify-content: space-between;
}

.platIcons {
  width: 50px;
  height: auto;
}

.metaRating {
  color: #0fef0f;
  border: 1px solid #3be73b;
  padding: 3px;
  border-radius: 3px;
}