.wrapper {
  height: 30vh;
  width: 100%;
}

.videoWrapper {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  z-index: -1;
}

.sectionOne {
  color: #FFF;
  position: absolute;
  width: 100%;
  top: 85px;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.sectionOneContent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.fpTwo {
  width: 50%;
}

.sectionTwo {
  color: #000;
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sectionThree {
  color: #000;
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainContainer {
  padding: 0 3rem;
}