.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(359deg, #be33f5, #8500ff);
  padding: 0 1rem;
  color: #FFF;
}

.container {
  display: flex;
  flex-direction: row;
}

.brandWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLinks {
  padding: 10px;
  cursor: pointer;

  a {
    color: #FFF;
    transition-duration: .8s;

    &:hover {
      color: black;
      transition-duration: .8s;
    }
  }
}