.sideMenuWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 15%;
  color: #FFF;
  top: 0;
  background-image: linear-gradient(359deg, #be33f5, #8500ff);
  z-index: 4;
  filter: drop-shadow(2px 4px 6px black);
}

.sideMenuWrapperOpen {
  background-color: pink;
}

.openButtonWrapper {
  position: fixed;
  bottom: 50%;
}

.closeButton {
  color: red;
  cursor: pointer;

  &:hover {
    color: #c90000;
  }
}

.openButton {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  color: green;
  padding: 5px;
  font-size: 25px;
}

.sideMenuLink {
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    color: #c9c9c9;
  }
}