.topMenuText {
  color: #fff;
  font-weight: 600;
  padding: 15px;
  font-size: 20px;
}

.topMenuLinks {
  color: #fff;
  font-weight: 600;
  padding: 15px 0;
  cursor: pointer;

  &:hover {
    color: #a5a5a5
  }
}

.topMenuContainer {
  width: 15%;
}

.topMenuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #161616;
  align-items: center;
  height: 100%;
}

.topMenuLinkWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
  z-index: 2;
}

.topMenuLinkWrapperAppear {
  transform: translateY(10px);
}

.topMenuLinkWrapperFade {
  transform: translateY(-10px);
}

.topMenuLinkHeaders {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 5px 0;
}