.featuresContainer {
  display: flex;
  background-color: #1e1818;
  width: 100%;
  padding: 0 10px;
}

.icons {
  transition-duration: .8s;
  cursor: pointer;

  &:hover {
    color: rgb(205, 67, 205);
    transition-duration: .8s;
  }
}

.isFavorited {
  color: red;
  cursor: pointer;
}

.smallInfo {
  padding: 10px;
  background-color: #1e1818;
  display: flex;
  justify-content: space-between;
  color: #FFF;
  width: 100%;
}

.metaRating {
  color: #0fef0f;
  border: 1px solid #3be73b;
  padding: 3px;
  border-radius: 3px;
}