.userCardContainer {
  display: flex;
  flex-direction: row;
  height: 85px;
  align-items: center;
  text-align: center;
  margin: 20px;
  color: white;

  &:hover {
    z-index: 3;
  }
}

.username {
  transition-duration: .5s;
  padding: 10px;

  &:hover {
    transition-duration: .5s;
    color: rgb(202, 56, 255);
    cursor: pointer;
  }
}

.about {
  padding: 20px;
}